* {
  font-family: 'Segoe UI', Tahoma, sans-serif;
}

html, body {
  // Blokuje efekt "gumowej wstążki" (overscroll)
  overscroll-behavior: none;
  overflow: hidden;

  // Ustawienie tła na czarne, żeby nawet przy błędzie nie było widać bieli
  background-color: #121213;

  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  position: fixed; // Drastyczna, ale skuteczna metoda na blokadę scrolla na iOS
  font-size: 16px;
}
